/_cffi_backend.cpython-36m-x86_64-linux-gnu.so
/bin/
/cffi-1.14.6.dist-info/
/cffi.libs/
/cffi/
/pycparser-2.20.dist-info/
/pycparser/
/srt-3.5.0.dist-info/
/srt.py
/srt_tools/
/vosk/
/vosk-0.3.31.dist-info/
/vosk.libs/
